.container{
  width: 50%;
  border-radius: 30px;
  background-color: rgb(236, 240, 241);
  align-items: center;
  justify-content: center;
  text-align: center;
  margin:auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container form{
  display: grid;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom : 3%;
  text-align: left;
  font-: "Ubuntu";

}

.container form span{
  margin-bottom : 3%;
  font-family: "Ubuntu";
}

.container form input[type='text']{
  align-items: flex-end;
  border-radius: 5px;
  height: 30px;
  border-color: transparent;
  margin-bottom : 3%;
  font-family: "Ubuntu";
}

.container .radioButtons {
  margin-right: 25%;
  font-family: "Ubuntu";
}

.container .radioButtons span{
  line-height: 2;
  font-family: "Ubuntu";
}



.container h1{
  font-size: 25px;
  padding-top: 10px;
  font-family: "Ubuntu";

}

.container #SubmitData{
  margin-bottom: 10%;
  font-family: "Ubuntu";
}
